# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Illustrate some aspects of markdown formatting.
- List popular languages for Data Science
- List some common libraries used in Data Science.
- List some open source Data Science development environments.
- Demonstrate some basic arithmetic operations using Python.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries by Data Scientists include:
1. numpy
2. ggplot2
3. scikit-learn

| Data Science Tools |
|--------------------|
| RStudio            |
| Jupyter Notebook   |
| Apache Zeppelin    |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [4]:
# This is a simple arithmetic expression to multiply and then add integers.
(3 * 4) + 5

17

In [5]:
# This will convert 200 minutes to hours, minutes, and seconds by first dividing by 60
# followed by more manipulations to get minutes and seconds.
hours_in_decimal = 200 / 60
decimal_part = hours_in_decimal % 1
hours = int(hours_in_decimal)
minutes = int(decimal_part * 60)
seconds = int(round((decimal_part * 60) % 1, 2) * 60)
print('hours: ' + str(hours) + ', minutes: ' + str(minutes) + ', seconds: ' + str(seconds))

hours: 3, minutes: 20, seconds: 0

## Author
Christopher Schuck